import { defineConfig } from '@playwright/test';

export default defineConfig({

  testDir: './src/tests',

  timeout: 60000,

  retries: 2,

  fullyParallel: true,

  reporter: [
    ['html'],
    ['list']
  ],

  use: {

    headless: true,

    screenshot: 'only-on-failure',

    video: 'retain-on-failure',

    trace: 'on-first-retry'
  }
});
